@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 0 40px royalblue;
    filter: brightness(2);
    overflow: hidden;
}

.countdown-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#particles-js {
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-weight: normal;
    font-size: 8rem;
    font-family: "Pacifico", cursive;
    margin-bottom: 2rem;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 5rem;
    }
    .big-text {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }
    .big-text {
        font-size: 3rem;
    }
}
