@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    font-family:'Roboto', sans-serif;
}

.container{
    text-align: center;
}

.container h2{
    background-color:#1C1427;
    color:#fff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}


.btn{
    font-family:'Roboto',sans-serif;
    text-transform: uppercase;
    background: transparent;
    color:#1C1427;
    letter-spacing:0.2rem;
    padding: 0.5rem;
    border:2px solid #1C1427;
    cursor: pointer;
    box-shadow: 0 5px rgba(0,0,0,0.2);
    transition: all 0.3 linear;
    font-weight: bold;
    border-radius:0.25rem;
}

.btn:hover{
    color:#fff;
    background-color: #1C1427;    
}