@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    box-sizing:border-box;
}

body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    align-items:center;
    color: #fff;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.countdown-c{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
}

h1{
    font-weight: normal;
    font-size:4rem;
}

.big-text{
    font-size:6rem;
    line-height:1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size:1.5rem;
}