@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 600;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left bottom, #b75c15, #c26c1b, #cc7b21, #d68b28, #e09b30);
}

.container {
    height: auto;
    width: auto;
    margin: 0 auto;
}

.brand {
    text-align: center;
    font-size: 4rem;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 30px;
}

form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
}

form input {
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2rem;
    display: inline;
}

form ion-icon {
    width: 9%;
    font-size: 3rem;
    margin: -9px;
    color: rgb(43, 41, 41)
}

.search-result {
    margin-top: 10%;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to right top, #f0c7a3, #efbb88, #ecb06d, #e7a550, #e09b30);
    padding: 15px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

.item .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .title {
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: #a34a28;
}

.view-button {
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    width: 130px;
    border: none;
    padding: 10px 0;
    background-color: #cf7500;
    box-shadow: 2px 2px #F0BA66;
    color: white;
    font-size: 1.4rem;
    margin-top: 20px;
    align-self: flex-start;
}

.item-data {
    color: #323232;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}

.container .initial .brand {
    font-size: 7rem;
}

.container .initial form {
    max-width: 800px;
}

.container .initial form input {
    padding: 20px;
    font-size: 3rem;
}

.container .init {
    display: flex;
    justify-content: center;
}

.container .init img {
    object-fit: contain;
    border-radius: 50px;
    width: auto;
}

@media (max-width: 768px) {
    .search-result {
        grid-gap: 10px;
    }
    .container.initial .brand {
        font-size: 4rem;
    }
    .container.initial form {
        max-width: 500px;
    }
    .container.initial form input {
        padding: 10px;
        font-size: 2rem;
    }
}